DATABASE_URL="postgresql://cryptopay:cryptopay@localhost:5432/cryptopay?schema=public"
PLATFORM_STELLAR_PUBLIC_KEY=""
PLATFORM_STELLAR_SECRET_KEY=""
STELLAR_NETWORK="testnet"
STELLAR_HORIZON_URL="https://horizon-testnet.stellar.org"
STELLAR_SOROBAN_RPC_URL="https://soroban-testnet.stellar.org"
STAR_CONTRACT_ADDRESS=CBNSF6EKROWALOG7DCOE5URA4KH27ONY2ESPPVT2JRKXSDU5MZHWNNKP
REWARD_ENGINE_CONTRACT_ADDRESS=CB4R56GG2EF2MT3QDCCL2MRVDEFMBW272Z6BRYRGC65UEKBUULL4JFIP
PAYMENT_ENGINE_CONTRACT_ADDRESS=CD3QAKCDF23UDQEZ7YS43T3FVY4FOAGLCPANLMBZKXBVRIZUSEJ25S5Z
MERCHANT_REGISTRY_CONTRACT_ADDRESS=CAIRSEVA7WSDXW4YST5P3RF7HUGRLWKZ5AWB7GTN4S3C5ONQVNBSO36R
KYCAID_API_TOKEN=
KYCAID_FORM_ID=
ALLOWED_ORIGINS=https://start-up-track-web.vercel.app
